
<h5>Items Details</h5>
<table class="highlight">
    <thead>
        <th>Items</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Purchase Date</th>
    </thead>
    <tbody>
    
          {{#each productBought}}
          <tr>
          <td>{{itemName}}</td>
          <td>{{itemQuantity}}</td>
          <td>&#x20B9;{{itemPrice}}</td>
          <td>{{formatDate boughtDate}}</td>
          </tr>
          {{/each}}
        
        
    </tbody>
</table>
<br><br>
<div class="col s12 l6">
<h4 style="color:green">Successfull Payment of &#x20B9;{{price}}</h3>
</div>
<div class="col s12 l6">
<img src="images/hand.png" style="width:5cm;height:auto" alt="image not found" class="responsive-img"/>
<img src="images/m1.png" style="width:5cm;height:auto;" alt="image not found" class="responsive-img"/>
</div>


<h5>Thanks for shopping with us. :)</h3>